
section .firstarticle {    
    padding-top: 50px;
    text-align: center;
}

section .firstarticle p {
    padding-top: 40px;
}

section .secondarticle {
    height: 2000px;
}

section .secondarticle img {
    text-align: center;
    padding-top: 20px;
}