
section .firstarticle {
   
    padding-top: 50px;
    padding-left: 350px;
    text-align: center;
}

section .firstarticle p {
    padding-top: 40px;
}

section .secondarticle {
    height: 1200px;
    width: 1200px;
    border: 1px solid black;
    padding-left: 350px;
    padding-top: 100px;
}

section .secondarticle img {
    padding-left: 200px;
}

section .secondarticle .personality {
    width: 800px;
    background-color: lightgray;
}