/*main화면 Best 글*/

* {
    margin: 0;
    padding: 0;
}

article .btnWrap {
    background-color: brown;
    height: 30px;
    width: 200px;
    text-align: center;

    /*모서리 둥글게*/
    border-radius: 30px;

    /*상자 중앙 정렬*/
    margin: auto;
}

article .btnWrap a {
    color: white;
    text-decoration-line: none;
    font-family: monospace;
    font-size: 15px;
    
    /*박스 안에 글자 정렬*/
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

article .bestWrap {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

article .bestWrap img {
    display: block;
    border: 1px solid darkred;
    width: 200px;
    height: 200px;
    float: left;

    /*사이즈를 컨테이너 크기에 맞춰 조절*/
    object-fit: cover;
}