header img {
    /* width: 400px;
    height: 150px; */
    height: 100%;
    display: inline-block;
    text-align: center;

    padding-left: 550px;
    position: relative;
}

.mainLogo {
    display: flex;
    justify-content: center;
}


